.header {
    color: #4B4C4C;
    font-size: 45px;
    font-weight: 500;
    font-family: Georgia;
    line-height: 1.5;
}

.sub-title {
    color: #20B3BA;
    font-size: 25px;
    font-weight: 400;
    font-family: Helvetica;
    line-height: 0.5;
}

.description {
    display: inline-block;
    color: #7E8E99;
    font-size: 20px;
    font-weight: 400;
    font-family: Helvetica;
    line-height: 1.8;
}

body {
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    width:50%;
}

#content {
    position:absolute;
    top:8%;
    left:10%;
    width:25%;
}