<!DOCTYPE html>
<html>
{% block header %}
<head>
    <meta charset=utf-8 />
    <title>{{ name }}, {{ title }}</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='css/images/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ba-bbq.min.js') }}"></script>
</head>
{% endblock %}

{% block content %}
<body>
    <div id="content">
        <p class="header">{{ name }}</p>
        <p class="sub-title">{{ title }}</p>
        <br><br>
        <p class="description">Hey there, I’m Stephen. I rapidly design and prototype web applicatoins on web and mobile.
            I aim to bring my passion for structure and quality to software.<br><br>Let’s chat about designing reusable service oriented architecture,
            creating scalable and performant business solutions, or simply building great software!</p>
        <br><br>
        <p class="header">Oracle</p>
        <p class="sub-title">2013 - present</p>
        <br><br>
        <p class="description">For the past two years, I’ve been working with Eloqua Oracle in Toronto,
            where I worked on the Infrastructure team to enhance the security implementation.
            I have also worked on high profile projects such as Slapchop, Brighten, and Havoc.</p>
        <br><br>
        <a href="{{ url_for('static', filename='Stephen.pdf') }}" class="btn btn-info" role="button" target="_blank">VIEW RÉSUMÉ</a>
    </div>

    <div id='map' onmousedown="return false"></div>

    <script>

        function doAuthRedirect() {
            var redirect = window.location.href.replace(window.location.hash, '');
            alert(redirect);
            window.location.href = '{{ keys.foursquare_authentication_url }}oauth2/authenticate?response_type=token&client_id={{ keys.foursquare_client_id }}' +
                    '&redirect_uri=' + encodeURIComponent(redirect) +
                    '&state=' + encodeURIComponent($.bbq.getState('req') || 'users/self');
        }

        function getCurrentDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            if(dd < 10) {
                dd = '0' + dd
            }
            if(mm < 10) {
                mm = '0' + mm
            }
            return yyyy + '' + mm + '' + dd;
        }

        if ($.bbq.getState('access_token')) {
            // If there is a token in the state, consume it
            var token = $.bbq.getState('access_token');
            $.bbq.pushState({}, 2)
        } else if ($.bbq.getState('error')) {
        } else {
            doAuthRedirect();
        }

        $.getJSON('{{ keys.foursquare_api_url }}v2/users/self/checkins?oauth_token=' + window.token + '&limit=1&sort=newestfirst&v=' + getCurrentDate(), {}, function(data) {
            var checkin = data['response']['checkins']['items'][0];
            var venue = checkin['venue'];
            var latitude = venue['location']['lat'];
            var longitude = venue['location']['lng'];

            L.mapbox.accessToken = '{{ keys.mapbox_access_token }}';
            var map = L.mapbox.map('map', '{{ keys.mapbox_map_id }}', {zoomControl: false}).setView([latitude, longitude], 15);
            map.dragging.disable();
            map.touchZoom.disable();
            map.doubleClickZoom.disable();
            map.scrollWheelZoom.disable();

            if(map.tap) {
                map.tap.disable();
            }

            var featureLayer = L.mapbox.featureLayer().addTo(map);

            var geoJson = {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [
                        longitude,
                        latitude
                    ]
                },
                properties: {
                    "icon" : {
                        "iconUrl": "{{ url_for('static', filename='css/images/face.jpg') }}",
                        "iconSize": [50, 50], // size of the icon
                        "popupAnchor": [0,-30], // point from which the popup should open relative to the iconAnchor
                        "className": "img-circle img-thumbnail"
                    },
                    'description': '<b>LAST SEEN AT:</b><br>' + venue['name'],
                    'marker-size': 'large',
                    'marker-symbol': 'embassy'
                }
            };

            featureLayer.on('layeradd', function(e) {
                var marker = e.layer,
                        feature = marker.feature;

                marker.setIcon(L.icon(feature.properties.icon));

                marker.openPopup();

                marker.off('click');
                marker.on('click', function(e){
                   this.openPopUp();
                });
            });

            featureLayer.setGeoJSON(geoJson);
        });

        window.setInterval(function(){
            var popup = $(".leaflet-popup-pane");
            popup.animate({top:'5px'}, 500);
            popup.animate({top:'0px'}, 500);
        }, 100);

    </script>

</body>
{% endblock %}

</html>