<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Stephen Chen, Software Engineer</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <link rel="stylesheet" href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ba-bbq.min.js') }}"></script>
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; left:60%; width:40%; }
      #body { position:absolute; top:10%; left:10%; width:25%; }
    </style>
</head>
<body>
    <div id="body">
        <p class="header">Stephen Chen</p>
        <p class="sub-title">Software Engineer</p>
        <br><br>
        <p class="description">Hey there, I’m Stephen. I rapidly design and prototype user interfaces on web and mobile. I aim to bring my passion for tidiness to software.<br><br>Let’s chat about prototyping with Origami, building things with JavaScript, or creating visuals in Photoshop!</p>
        <br><br>
        <p class="header">Oracle</p>
        <p class="sub-title">2013 - present</p>
        <br><br>
        <p class="description">For the past two years, I’ve been working with Oracle in Toronto, where I design and build products for our portfolio companies and help to prototype new ones.</p>
        <br><br>
        <a href="{{ url_for('static', filename='Stephen.pdf') }}" class="btn btn-info" role="button" target="_blank">VIEW RÉSUMÉ</a>
    </div>

    <div id='map'></div>

    <script>
        var config = {
            apiKey: 'IUEZ42RZ5SAY4J0E0TOHB34R15GW2RRV2OQUQNXQIKYONHPN',
            authUrl: 'https://foursquare.com/',
            apiUrl: 'https://api.foursquare.com/'
        };

        function doAuthRedirect() {
            var redirect = window.location.href.replace(window.location.hash, '');
            var url = config.authUrl + 'oauth2/authenticate?response_type=token&client_id=' + config.apiKey +
                '&redirect_uri=' + encodeURIComponent(redirect) +
                '&state=' + encodeURIComponent($.bbq.getState('req') || 'users/self');
            window.location.href = url;
        }

        function getCurrentDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            if(dd < 10) {
                dd = '0' + dd
            }
            if(mm < 10) {
                mm = '0' + mm
            }
            return yyyy + '' + mm + '' + dd;
        }

        if ($.bbq.getState('access_token')) {
            // If there is a token in the state, consume it
            var token = $.bbq.getState('access_token');
            $.bbq.pushState({}, 2)
        } else if ($.bbq.getState('error')) {
        } else {
            doAuthRedirect();
        }

        $.getJSON(config.apiUrl + 'v2/users/self/checkins?oauth_token=' + window.token + '&limit=1&sort=newestfirst&v=' + getCurrentDate(), {}, function(data) {
            checkin = data['response']['checkins']['items'][0];
            venue = checkin['venue'];
            latitude = venue['location']['lat'];
            longitude = venue['location']['lng'];

            L.mapbox.accessToken = 'pk.eyJ1IjoiaWNhcmlhIiwiYSI6ImNpZjczc3I5cTAyb2dyeWx6Z2Mzanlld3cifQ.jBkG4gWBX37zKjrbkX7SRg';
            var map = L.mapbox.map('map', 'icaria.cif73spzl02orshlz4eep3nfq').setView([latitude, longitude], 14);
            var featureLayer = L.mapbox.featureLayer().addTo(map);

            var geoJson = {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [
                        longitude,
                        latitude
                    ]
                },
                properties: {
                    "icon" : {
                        "iconUrl": "{{ url_for('static', filename='css/images/face.jpg') }}",
                        "iconSize": [60, 60], // size of the icon
                        "popupAnchor": [0,-40], // point from which the popup should open relative to the iconAnchor
                        "className": "img-circle"
                    },
                    'description': '<b>LAST SEEN AT:</b><br>' + venue['name'],
                    'marker-size': 'large',
                    'marker-symbol': 'embassy'
                }
            };

            featureLayer.on('layeradd', function(e) {
                var marker = e.layer,
                        feature = marker.feature;

                marker.setIcon(L.icon(feature.properties.icon));
            });

            featureLayer.setGeoJSON(geoJson);

            featureLayer.eachLayer(function(m) {
                m.openPopup();
            })
        });

        window.setInterval(function(){
            var popup = $(".leaflet-popup-pane");
            popup.animate({top:'5px'});
            popup.animate({top:'0px'});
        }, 100);

    </script>

</body>
</html>